<div class="container mt-5 text-center">
    <h1 class="mb-4 text-primary">Admin Dashboard</h1>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="/CulturalHeritage" class="btn btn-outline-primary w-100">Manage Cultural Heritage</a>
        </li>
        <li class="list-group-item">
            <a href="/NationalMinorities" class="btn btn-outline-primary w-100">Manage National Minorities</a>
        </li>
        <li class="list-group-item">
            <a href="/Themes" class="btn btn-outline-primary w-100">Manage Themes</a>
        </li>
        <li class="list-group-item">
            <a href="/CulturalHeritageThemes" class="btn btn-outline-primary w-100">Manage Themes for Cultural Heritage</a>
        </li>
    </ul>
    
</div>
