<nav>
    <h1>Admin Dashboard</h1>
    <ul>
        <li><a href="/CulturalHeritage">Manage Cultural Heritage</a></li>
        <li><a href="/NationalMinorities">Manage National Minorities</a></li>
        <li><a href="/Themes">Manage Themes</a></li>
        <li><a href="/CulturalHeritageThemes">Manage Themes for Cultural Heritage</a></li>
        <li><a href="/Logs">View Logs</a></li>
    </ul>
</nav>
