@{
    ViewData["Title"] = "User Dashboard";
}

<h1>Welcome to the User Dashboard</h1>
<p>Explore a range of cultural heritages and its themes. Be sure to leave kind comments .Enjoy!!!</p>

<ul>
    <li><a href="/CulturalHeritage/UserIndex">View Cultural Heritage</a></li>
</ul>

<form method="post" action="/Account/Logout" style="display: inline;" onsubmit="return confirm('Are you sure you want to logout?');">
    <button type="submit" style="background-color: #007BFF; color: white; padding: 10px; border: none; border-radius: 5px;">
        Logout
    </button>
</form>
