@model IEnumerable<WebAPI.DTOs.NationalMinorityDto>

<h1>National Minorities</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var minority in Model)
        {
            <tr>
                <td>@minority.Name</td>
                <td>@minority.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@minority.MinorityID" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@minority.MinorityID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Create New</a>
